/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: 550;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display: block ;
  font-size: small;
  margin-top: .5em;
  margin-left:21px;
  color: rgb(21, 193, 21);
  
}

.story-user {
  display: flex;
  font-size: small;
  margin-top: .5em;
  margin-left:21px;
  font-weight:400;
  color: rgb(250, 203, 31);
  
}

#my-stories-list{
  list-style-type: none;
}
.delete-btn{
  padding-right: 1rem;
}
.delete-btn:hover{
  cursor: pointer;
}
.star{
  padding-right:.1rem;
  
}
.star:hover{
  cursor: pointer;
}
li {
  padding: .3rem;
}

hr{
max-width: 800px;
border-color: rgba(128, 128, 128, 0.064);
}
i{
  color: gray;
}